{% if alerts %}
<ul class="thumbnails">
{% for alert in alerts %}
  <li class="span4 alert-error">
    <div class="thumbnail">
      <h5 class="text-center">
      <a href="#" class="popup" data-toggle="popover" data-placement="bottom" data-content="{{ alert.ip.comment }}" title data-original-title="error at {{ alert.ip.create_time|dateTime }}">{{ alert.ip.ip_addr }}</a>
      (<a class="err_log" err_id="{{ alert.id }}" hide="0" href="javascript:void(0);">log</a>)
      </h5>
    </div>
  </li>
{% endfor %}
</ul>
{% else %}
    <div class="alert alert-info">Is's all right</div>
{% endif %}

<table class="table">
    {% for info in logs %}
    <tr>
        <td>{{ info.ip.ip_addr }}</td>
        <td>{{ info.ip.comment }}</td>
        <td>{{ info.ip.create_time|dateTime }}</td>
        <td><a class="err_log" err_id="{{ info.id }}" hide="1" href="javascript:void(0);">(log)</a></td>
    </tr>
    {% endfor %}
</table>