{% extends "base.html" %}
{% block content%}
<div class="row-fluid">
    <div class="span4">
        <div id="holder"><img src="{{ config.MEDIA_ROOT }}/img/loading.gif"></div>
        <div id="temp_loader" style="display: none;"></div>
    </div>
    <div class="span6">

    </div>
</div>



{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        function check_alert(){
            $("#temp_loader").load("{{ url_for("index.change") }}",{},function(response, status, xhr){
                var text = $(this).html();
                $(this).html("");
                $("#holder").html(response);
                regist_log();
                $(".popup").popover();
            });
        }
        function loop(){
            check_alert();
            setTimeout(function(){
                loop();
            },10000);
        }
        function regist_log(){
            $(".err_log").click(function(){
                var err_id = $(this).attr("err_id");
                var hide = $(this).attr("hide");
                var comment = prompt("Add your comment");
                if (comment){
                    $.post('{{ url_for("index.append_log") }}',{error_id:err_id, hide:hide, comment:comment},function(d){
                        if (d.rs){
                            check_alert();
                        }else{
                            alert(d.info);
                        }
                    },"json");
                }
            });
        }
        $(function(){
            loop();
        });
    </script>
{% endblock %}